body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    transition: all 1s ease;
}

.navbar {
    width: 40%;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
    padding: 20px;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    margin-bottom: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.navbar ul li a:hover, .navbar ul li a.active {
    background-color: #ddd;
}

main {
    flex-grow: 1;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.table-container {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

button {
    padding: 10px 20px;
    background-color: #fdaed4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.cancel{
    margin-top:20px;
    font-size: 15px;
}
.dashboard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
}

.stats, .calendar {
    width: 48%;
}

.settings {
    display: flex;
    justify-content: space-between;
}

.profile, .services {
    width: 48%;
}
tr{
    transition: 0.3s;
}

tr .td-btn {
    display: none;
    transition: display 1s ease;
}
tr:hover .td-btn
{
    display: table-cell;
}
tbody:hover tr:hover{
    background-color: rgb(94, 89, 94);
    color:white;
  
}



body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form div {
    margin-bottom: 15px;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"], a {
    background-color: #fdaed4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}



input[type="submit"]:hover, a:hover {
    opacity: 0.9;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}